@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: grid;
    place-content: left;
    text-align: left;
    background-color:#111;
    font-family: 'Lora', serif;
    margin-top: 60px;
}

.text p {
    border-right: .05em solid rgb(239, 234, 227);
    background-color: #111;
    font-family: 'Lora', serif;
    color:rgb(239, 234, 227);
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    animation: animated-text 3s linear 1s 1 normal both, animated-cursor 600ms linear infinite;

    margin-left: 60px;
  }

  .text p:nth-child(1) {
    width: 16em;
    animation: type 3s steps(30, end), blink .5s step-end infinite;
    animation-fill-mode: forwards;
  }
  .text p:nth-child(2) {
    width: 19em;
    opacity: 0;
    animation: type2 3.5s steps(30, end), blink .5s step-end infinite;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
  }
  .text p:nth-child(3) {
    width: 15.8em;
    opacity: 0;
    animation: type3 3.5s steps(30, end), blink .5s step-end infinite;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
  }
@keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid rgb(239, 234, 227);
    }
    100% {
      border: none;
    }
}
  
@keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid rgb(239, 234, 227);
    }
    100% {
      opacity: 1;
      border: none;
    }
}
  
@keyframes type3 {
     0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid rgb(239, 234, 227);
    }
    100% {
      opacity: 1;
      border: none;
    }
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
  
  h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 20px;
    max-width: 40ch;
    text-align: left;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    margin: 30px;
  }

  @keyframes scale {
    1020 {
      transform: scale(1);
    }
  }
  
  span {
    font-family: 'Lora', serif;
    font-weight: regular;
    display: inline-block;
    opacity: 0;
    filter: blur(3px);
  }
  
  span:nth-child(1) {
    animation: fade-in 3s 11.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(2) {
    animation: fade-in 4s 11.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  span:nth-child(3) {
    animation: fade-in 5s 11.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  .flex-parent-element {
    display:flex;
    width: 80rem;
  }
  
  .flex-child1 {
    flex: 1;
    border: 2px solid #111;
    margin: 10px;
    color: rgb(239, 234, 227);
    font-weight: 400;

  }
  .flex-child2 {
    flex: 1;
    border: 2px solid #111;
    margin: 10px;
    color: rgb(239, 234, 227);
    font-weight: 400;
  }

#link{
    position: relative;
    text-align: center;
    color:#111;
    width: max-content;
    margin: 30px;
}

#read{
    position:relative;
    padding-top:0%;
    text-align:center;
    font-size:30px;
    cursor:pointer;
    background-color: #111;
    margin: 30px;
    margin-top: 20px;
}

a:link {
    margin-left: 70rem;
    text-decoration: none;
    color:rgb(239, 234, 227);
  }
  
  a:visited {
    text-decoration: none;
    color:rgb(239, 234, 227);
  }
  
  a:hover {
    text-decoration: none;
    color:rgb(182, 148, 61)
  }


  .underline {
    display: inline-block;
    position: relative;
    color: rgb(239, 234, 227);
  }
  
  .underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:rgb(182, 148, 61);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
